# Default values for qgraph.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
nameOverride: ""
fullnameOverride: ""

# Check for overrides in parent chart

qgraph:
  repository: ghcr.io/robokopu24/qgraph
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v1.3.3"
  service:
    type: ClusterIP
    port: 7080
  resources:
    requests:
      memory: 500Mi
      cpu: 250m
    limits:
      memory: 4Gi
      cpu: 1000m

ingress:
  enabled: true
  public: true
  tls:
    enabled: false
  className: ""
  host: robokop.renci.org
  path: /question-builder(?:\/|$)(.*)

env:
  # robokache: http://qgraph-robokache
  strider: https://strider.renci.org/1.3
  aragorn: http://aragorn-aragorn-service:8080
  robokop_ara: http://aragorn-aragorn-robokop-service:8080
  node_normalizer: http://nn-web-node-normalization-web-service-root.translator-dev:8080
  name_resolver: https://robokop-name-resolver.apps.renci.org
  biolink: https://raw.githubusercontent.com/biolink/biolink-model/v4.1.6/biolink-model.yaml

robokache:
  repository: ghcr.io/ncats-gamma/robokache
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v4.1.5"
  service:
    type: ClusterIP
    port: 8080
  dbPath: "/data"
  resources:
    requests:
      memory: 500Mi
      cpu: 250m
    limits:
      memory: 1Gi
      cpu: 1000m
  storage:
    size: 30Gi

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
