apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ include "name-lookup.fullname" . }}
  labels:
    {{- include "name-lookup.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/ingress.class: "{{ .Values.ingress.class }}"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "{{ .Values.ingress.proxyConnectTimeout }}"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "{{ .Values.ingress.proxyReadTimeout }}"
spec:
  rules:
    - host: {{ .Values.ingress.host | quote }}
      http:
        paths:
          - backend:
              serviceName: {{ include "name-lookup.fullname" . }}-web-svc
              servicePort: {{ .Values.webServer.service.port }}
          - path: /solr
            backend:
              serviceName: {{ include "name-lookup.fullname" . }}-solr-svc
              servicePort: {{ .Values.solr.service.port }}