apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "name-lookup.fullname" . }}-web-sever-dep
  labels:
    {{- include "name-lookup.labels" . | nindent 4 }}
    app-name: web-server
spec:
  replicas: {{ .Values.webServer.replicaCount }}
  selector:
    matchLabels:
      {{- include "name-lookup.selectorLabels" . | nindent 6 }}
      app-name: web-server
  template:
    metadata:
      labels:
        {{- include "name-lookup.selectorLabels" . | nindent 8 }}
        app-name: web-server
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.webServer.image.repository }}:{{ .Values.webServer.image.tag }}"
          env:
          - name: SOLR_HOST
            value: {{ include "name-lookup.fullname" . }}-solr-svc
          - name: SOLR_PORT
            value: {{ .Values.solr.service.port | quote }}
          # since this is just with out sub paths , using the ingress host name should be fine
          - name: SERVER_ROOT
            value: "{{ .Values.webServer.serverHostName }}"
          - name: "MATURITY_VALUE"
            value: "{{ .Values.x_trapi.maturity.value }}"
          - name: "LOCATION_VALUE"
            value: "{{ .Values.x_trapi.location.value }}"
          - name: "OTEL_ENABLED"
            value: "{{ .Values.app.otel.enabled }}"
          - name: "SERVER_NAME"
            value: "{{ .Values.app.serverName }}"
          - name: "JAEGER_HOST"
            value: "{{ .Values.app.otel.jaegerHost }}"
          - name: "JAEGER_PORT"
            value: "{{ .Values.app.otel.jaegerPort }}"
          ports:
            - name: http
              containerPort: {{ .Values.webServer.port }}
              protocol: TCP
      {{- with .Values.app.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.app.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.app.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
