# Default values for aragorn.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/ranking-agent/aragorn
  tag: latest

web:
  serverHostName: "serverHostName"
  callbackHostName: "callbackHostName"

deploymentStrategy: Recreate

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080

ingress:
  host: ingress_HOST
  class: ""
  enabled: true
  pathType: "ImplementationSpecific"
  path: "/1.3"
  annotations:
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "86400"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "86400"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      keepalive_timeout 86400;
    nginx.ingress.kubernetes.io/connection-proxy-header: keep-alive
    nginx.ingress.kubernetes.io/send-timeout: "86400"
    nginx.ingress.kubernetes.io/service-upstream: 'true'
    nginx.ingress.kubernetes.io/upstream-keepalive-timeout: "86400"
    nginx.ingress.kubernetes.io/proxy-body-size: 512m
  tls:
    enabled: false

logs:
  storageSize: 5Gi

queue_files:
  storageSize: 20Gi

app:
  port: 4321
  debugTiming: "True"
  multistrider_batch_size: 75
  maximum_multistrider_rules: 75
  resources:
    requests:
      memory: 2Gi
      cpu: 1000m
    limits:
      memory: 3Gi
      cpu: 1000m
  logLevel: "trace"
  queueStorageSize: 10Gi

x_trapi:
  maturity:
    value: "maturity"
  location:
    value: "location"

sub_processes:
  strider_url: "strider"
  answer_coalesce_url: "ac"
  ranker_url: "ranker"
  node_norm_url: "nn"
  robokop_kg_url: "robokopkg"

rbtmq:
  resources:
    limits:
      memory: 5Gi
    requests:
      memory: 1Gi
  image:
    repository: renciorg/aragorn-rbtmq
    tag: 0.0.1
  storage:
    createPV: false
    createPVC: false
    pvName: "pv-rbtmq"
    size: 5Gi
  secrets:
    amqpPort: 5672
    webPort: 15672
    queueUser: "fakeuser"
    queuePassword: "fakepw"
    queueAdminPassword: "fakeadminpw"
    queueHost: "fakehost"
