# Default values for aragorn.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
image:
  repository: renciorg/aragorn
  tag11: 1.1.1
  tag20: 2.0.0

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080

ingress:
  host: ingress_HOST
  class: ingress_CLASS
  enabled: true
  timeout: 86400

logs:
  storageSize: 3.5G

app:
  port: 4321

