replicaCount: 1

image:
  repository: "renciorg/cam-kp-api"
  tag: "0.1"
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080
  resources:
    requests:
      memory: 20Gi
      cpu: 1000m
    limits:
      memory: 24Gi
      cpu: 3000m

ingress:
  host: ""
  class: ""
  timeout: 7200 # 1hr

app:
  port: 8080
