{{- if and .Values.ingress.class (not (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion)) }}
  {{- if not (hasKey .Values.ingress.annotations "kubernetes.io/ingress.class") }}
  {{- $_ := set .Values.ingress.annotations "kubernetes.io/ingress.class" .Values.ingress.class }}
  {{- end }}
{{- end }}
{{- $annotation_12 := deepCopy .Values.ingress.annotations }}
{{ $_ := set $annotation_12 "nginx.ingress.kubernetes.io/rewrite-target" "/$2" }}
{{- $annotation_root := deepCopy .Values.ingress.annotations }}
{{ $_ := set $annotation_root "nginx.ingress.kubernetes.io/app-root" "/docs" }}

{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ include "node-normalization-webserver.fullname" . }}-service-sub-path
  labels:
    {{- include "node-normalization-webserver.selectorLabels" . | nindent 4 }}
  {{- with $annotation_12 }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if and .Values.ingress.class (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.ingress.class }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.hostName | quote }}
      http:
        paths:
          - path: "/{{.Values.ingress.trapiVersion}}(/|$)(.*)"
            {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
            pathType: "{{ .Values.ingress.pathType }}"
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ include "node-normalization-webserver.fullname" . }}-service-root
                port:
                  number: {{ .Values.web.port }}
              {{- else }}
              serviceName: {{ include "node-normalization-webserver.fullname" . }}-service-root
              servicePort: {{ .Values.web.port }}
              {{- end }}
          # While transitioning from TRAPI 1.3 to TRAPI 1.4, it would be simpler to keep hosting
          # our content at /1.3/ as well as /1.4/. We'll declare this deprecated and get rid of
          # it at some point.
          - path: "/{{.Values.ingress.prevTrapiVersion}}(/|$)(.*)"
            {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
            pathType: "{{ .Values.ingress.pathType }}"
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ include "node-normalization-webserver.fullname" . }}-service-root
                port:
                  number: {{ .Values.web.port }}
              {{- else }}
              serviceName: {{ include "node-normalization-webserver.fullname" . }}-service-root
              servicePort: {{ .Values.web.port }}
              {{- end }}
---
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ include "node-normalization-webserver.fullname" . }}-service-root
  labels:
    {{- include "node-normalization-webserver.selectorLabels" . | nindent 4 }}
  {{- with $annotation_root }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if and .Values.ingress.class (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.ingress.class }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.hostName | quote }}
      http:
        paths:
          - path: "/"
            {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
            pathType: "{{ .Values.ingress.pathType }}"
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ include "node-normalization-webserver.fullname" . }}-service-root
                port:
                  number: {{ .Values.web.port }}
              {{- else }}
              serviceName: {{ include "node-normalization-webserver.fullname" . }}-service-root
              servicePort: {{ .Values.web.port }}
              {{- end }}