# Default values for aragorn-ranker.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
image:
  repository: renciorg/aragorn-ranker
  tag: latest
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080

ingress:
  host: ingress_HOST
  class: ""
  enabled: true
  pathType: "ImplementationSpecific"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    nginx.ingress.kubernetes.io/whitelist-source-range: 0.0.0.0/0,::/0
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: 512m
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "86400"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "86400"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/connection-proxy-header: keep-alive
    nginx.ingress.kubernetes.io/send-timeout: "86400"
    nginx.ingress.kubernetes.io/service-upstream: 'true'
    nginx.ingress.kubernetes.io/upstream-keepalive-timeout: "86400"
  tls:
    enabled: true

web:
  serverHostName: "hostname"

app:
  port: 4321
  debugTiming: "True"
  resources:
   requests:
     memory: 5Gi
     cpu: 250m
   limits:
     memory: 10Gi
     cpu: 1000m


omnicorpCache:
  port: 5678

omnicorpPostgres:
  dbName: db_name
  dbUser: db_user
  port: 1234

secrets:
  omnicorpHost: omnicorp_HOST
  omnicorpPassword: "somePW"
  omnicorpCacheHost: omnicorpCache_HOST
  omnicorpCachePassword: "somePW"

answercoalesce:
  fullServiceName: ac_cache-host
  redisServicePort: 1234

x_trapi:
  maturity:
    value: "maturity"
  location:
    value: "location"