apiVersion: v1
kind: Service
metadata:
  name: {{ include "answer-coalesce.fullname" . }}-web-service-trapi-1-1
  labels:
    {{- include "answer-coalesce.labels" . | nindent 4 }}
    app: webServer
spec:
  type: {{ .Values.ac.service.type }}
  ports:
    - port: {{ .Values.ac.service.port }}
      targetPort: {{ .Values.ac.containerPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "answer-coalesce.selectorLabels" . | nindent 4 }}
    trapi: "1.1"
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "answer-coalesce.fullname" . }}-web-service-trapi-1-2
  labels:
    {{- include "answer-coalesce.labels" . | nindent 4 }}
    app: webServer
spec:
  type: {{ .Values.ac.service.type }}
  ports:
    - port: {{ .Values.ac.service.port }}
      targetPort: {{ .Values.ac.containerPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "answer-coalesce.selectorLabels" . | nindent 4 }}
    trapi: "1.2"
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "answer-coalesce.fullname" . }}-redis-service
  labels:
    {{- include "answer-coalesce.labels" . | nindent 4 }}
spec:
  type: {{ .Values.redis.service.type }}
  {{- if .Values.redis.service.loadBalancerIP }}
  loadBalancerIP: {{ .Values.redis.service.loadBalancerIP }}
  {{- end}}
  ports:
    - port: {{ .Values.redis.service.port }}
      targetPort: {{ .Values.redis.containerPort }}
      protocol: TCP
      name: redis-port
  selector:
    {{- include "answer-coalesce.selectorLabels" . | nindent 4 }}
    app: database