apiVersion: v1
kind: Service
metadata:
  name: {{ include "answer-coalesce.fullname" . }}-web-service
  labels:
    {{- include "answer-coalesce.labels" . | nindent 4 }}
    app: webServer
spec:
  type: {{ .Values.ac.service.type }}
  ports:
    - port: {{ .Values.ac.service.port }}
      targetPort: {{ .Values.ac.containerPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "answer-coalesce.selectorLabels" . | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "answer-coalesce.fullname" . }}-redis-service
  labels:
    {{- include "answer-coalesce.labels" . | nindent 4 }}
    app: redisServer
spec:
  type: {{ .Values.redis.service.type }}
  ports:
    - port: {{ .Values.redis.service.port }}
      targetPort: {{ .Values.redis.containerPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "answer-coalesce.selectorLabels" . | nindent 4 }}