
redisImage:
  repository: redis
  tag: latest

webserverImage:
  repository: renciorg/r3_nodenorm
  tag: latest
    # options are renciorg/r3_nodenorm or renciorg/r3_chemnorm

redis:
  service:
    type: ClusterIP
  port: 6379
  resources:
    limits:
      memory:
    requests:
      memory:
  seedDB: true
  storage:
    size: # enter storage size here
  args:
    - --save
    - ''
    - --stop-writes-on-bgsave-error
    - 'no'
web:
  replicaCount: 1
  service:
    type: ClusterIP
  port: 6380

ingress:
  host: ####HOST_NAME####
  class: ####Ingress class name ####