# Default values for automat.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: renciorg/automat
  tag: "2.0"

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

fullHostName:
ingress:
  # Provide host name
  host:
  # provide ingress class
  class: default
  tls:
    # provide tls secrets
    #hosts:
    #- host:
    #  secretName:

app:
  port: 8080