apiVersion: v1
kind: Service
metadata:
  name: {{ include "robokop.fullname" . }}-manager-service
  labels:
    {{- include "robokop.labels" . | nindent 4 }}
spec:
  type: {{ .Values.manager.serviceType }}
  {{- if .Values.manager.loadBalancerIP -}}
  loadBalancerIP: {{ .Values.manager.loadBalancerIP }}
  {{- end }}
  ports:
    - port: {{ .Values.manager.webPort }}
      targetPort: {{ .Values.manager.webPort }}
      protocol: TCP
      name: http
    - port: {{ .Values.manager.supervisorPort }}
      targetPort: {{ .Values.manager.supervisorPort }}
      protocol: TCP
      name: supervisor-port
    - port: {{ .Values.manager.graphQLPort }}
      targetPort: {{ .Values.manager.graphQLPort }}
      protocol: TCP
      name: graphql-port
    - port: {{ .Values.manager.pubmedCache.port }}
      targetPort: {{ .Values.manager.pubmedCache.port }}
      protocol: TCP
      name: pubmed-port
    - port: {{ .Values.manager.postgres.port }}
      targetPort: {{ .Values.manager.postgres.port }}
      protocol: TCP
      name: postgres-port
  selector:
    {{- include "robokop.selectorLabels" . | nindent 4 }}
    app-name: manager
