{{- if eq .Values.mode "load" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{- include "node-normalization-loader.fullname" . }}-loader-config"
data:
  {{ range $index,$compendia := .Values.data.compendia.files }}
  config-compendia{{ $index }}.json: |-
    {
    "compendium_directory": "/data/",
    "conflation_directory": "/data/",
    "data_files": ["{{$compendia}}"],
    "test_mode": 0,
    "debug_messages": 1,
    "conflations" : []
    }
  {{ end }}
  run_loader_compendia.sh: |-
    #!/bin/sh -x
    set -x
    export DATA_DIR=/data
    export FILE_NAME=$1
    {{ $baseURL_Com := .Values.data.compendia.sourceBaseUrl }}
    export FILE_URL={{ $baseURL_Com }}${FILE_NAME}
    echo DOWNLOADING $file
    wget -nv -O $DATA_DIR/${FILE_NAME} $FILE_URL
    ls -al $DATA_DIR
    head -1 $DATA_DIR/${FILE_NAME}
    tail -1 $DATA_DIR/${FILE_NAME}
    cat config.json
    python load.py
    rm $DATA_DIR/${FILE_NAME}
    echo "FINISHED"

  {{ range $index,$conflation := .Values.data.conflations.configs }}
  config-conflation{{ $index }}.json: |-
    {
    "compendium_directory": "/data/",
    "conflation_directory": "/data/",
    "data_files": [],
    "test_mode": 0,
    "debug_messages": 1,
    "conflations" : [
        {
          "types" : {{ $conflation.types | toJson }},
          "file": "{{ $conflation.file }}",
          "redis_db": "{{ $conflation.redis_db }}"
        }
      ]
    }
  {{ end }}
  run_loader_conflation.sh: |-
    #!/bin/sh -x
    set -x
    export FILE_NAME=$1
    export DATA_DIR=/data
    {{ $baseURLCon := .Values.data.conflations.sourceBaseUrl }}
    export FILE_URL={{ $baseURLCon }}${FILE_NAME}
    echo DOWNLOADING $FILE_NAME
    wget -nv -P $DATA_DIR $FILE_URL
    python load.py
    rm $DATA_DIR/$FILE_NAME
    echo "FINISHED"

  redis_config.yaml: |
    {{- range $key, $v := .Values.redis_backend_config }}
    {{ $key | replace "\"" "" }}:
      {{- $redis_config := omit $v "restoreURL" "storageSize" }}
      {{- $redis_config | toYaml | nindent 6 }}
    {{- end }}
{{- end }}
