# Default values for plater.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1


busybox:
  image:
    repository: busybox
    tag: latest

initresources:
  requests:
    memory: 5Gi
    cpu: 1000m
  limits:
    memory: 10Gi
    cpu: 1000m

image:
  plater:
    repository: renciorg/plater-clustered
    tag: "1.3.0-2-test"
    imagePullPolicy: Always
  neo4j:
    repository: renciorg/neo4j-4.4.10-apoc-gds
    tag: 0.0.1
    imagePullPolicy: Always

nameOverride: ""
fullnameOverride: ""

neo4j:
  # Readiness probes will send a kill signal to the container if
  # it fails enough times.  It's therefore very important
  # that initialDelaySeconds give the cluster time to form, because
  # if readiness probes start immediately after container start,
  # they may end up not forming quickly enough and getting killed.
  readinessProbe:
    initialDelaySeconds: 30
    failureThreshold: 3
    timeoutSeconds: 10
    periodSeconds: 10
    exec:
      command:
        - bash
        - -c
        - IFS="/" read -a auth <<< $NEO4J_AUTH ; cypher-shell -u ${auth[0]} -p ${auth[1]} "match (c) return c limit 1"

  livenessProbe:
    initialDelaySeconds: 60
    periodSeconds: 10
    failureThreshold: 3
    timeoutSeconds: 10
    exec:
      command:
        - bash
        - -c
        - IFS="/" read -a auth <<< $NEO4J_AUTH ; cypher-shell -u ${auth[0]} -p ${auth[1]} "match (c) return c limit 1"

  # Startup probes are used to know when a container application has started.
  # If such a probe is configured, it disables liveness and readiness checks until it succeeds
  startupProbe:
    failureThreshold: 2000
    periodSeconds: 1
    timeoutSeconds: 10
    exec:
      command:
        - bash
        - -c
        - IFS="/" read -a auth <<< $NEO4J_AUTH ; cypher-shell -u ${auth[0]} -p ${auth[1]} "match (c) return c limit 1"
  tolerations:
  affinity:

service:
  type: ClusterIP
app:
  gunicorn:
    worker_timeout: 3600
    num_workers: 4
  # this is the timeout used for the http request made to neo4j
  # and also controls the https://neo4j.com/docs/operations-manual/4.2/reference/configuration-settings/#config_dbms.transaction.timeout
  # 30 mins default
  Neo4jQueryTimeout: 1600
  web:
    resources:
      requests:
        memory: 1Gi
        cpu: 250m
      limits:
        memory: 3Gi
        cpu: 2000m

  port: 8080
  automatAddress: http://automat
  bl_version: 2.1.0
  neo4j:
    httpPort: 7474
    boltPort: 7687
    password: neo4jkp
    username: neo4j
    # additional jvm parameters for large query strings
    jvmStackSize: 1g
    # These are jvm based values hence suffix with one of the following G, M etc...
    heapSize:
    pageCacheSize:
    # It's used to request the cluster for memory capable of running neo4j per the heap and PageCache values above
    # Compute this value by summing up heapSize + pageCacheSize + (1G for os) + jvmStackSize
    # https://neo4j.com/docs/operations-manual/current/performance/memory-configuration/
    totalMemory:
    storage:
      size: 20Mi
    service:
      type: ClusterIP
    allowUpgrade: true
  openapi_config:
  # Adds more configs to default open api config
    x-trapi:
      version: 1.3.0
      operations:
        - lookup
        - overlay_connect_knodes
        - annotate_nodes
    x-translator:
      component: KP
      team:
      - '' # add teams
    contact:
      email: "" # email
      name: "" # name
      x-id: "" # link if available
      x-role: "" # role
    termsOfService: "" # link to terms of service
    title: ""
    description: ""
    tags:
     - name: translator
    servers:
      - description: Default server
        # this value should match chart installation name
        # https://automat-dev.renci.org/<chart install name>
        url: ""

skipAttributes:
  - provided_by
  - knowledge_source
dataUrl: ""
datasetDesc:
  version: ''
  description: ''
  dataseturl: ''
  generatorCode: ''
  neo4j_dump: ""
  provenanceTag: "infores:automat.platersource"
  license: "" # link to terms of service

x_trapi:
  maturity:
    value: "maturity"
  location:
    value: "location"