# Default values for biolink-lookup.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: renciorg/bl_lookup
  tag: latest

service:
  type: ClusterIP
  port: 80

ingress:
  host: #####HOSTNAME#####
  class: #####Ingress class #####
  annotations: {}
  pathType: ImplementationSpecific
app:
  defaultVersion: "2.2.5"
  resources:
    limits:
      memory: 3Gi
      cpu: 500m
    requests:
      memory: 500Mi
      cpu: 250m
  affinity: {} 
  tolerations: {}
  nodeSelector: {}

HTTPS_PROXY:

web:
  serverHostName: "hostname"

x_trapi:
  maturity:
    value: "maturity"
  location:
    value: "location"
