{{ if .Values.itrb.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "jaeger.fullname" . }}-ingress
  annotations:
    {{ .Values.itrb.ingress.annotations | toYaml | nindent 4}}
spec:
  rules:
    - host: {{ .Values.itrb.ingress.host }}
      http:
        paths:
        - path: /
          pathType: ImplementationSpecific
          backend:
            service:
              name: "{{ include "jaeger.fullname" . }}-otel-query"
              port:
                number: 80
{{ end }}