apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ include "automat.name" . }}
  name: {{ include "automat.fullname" . }}
spec:
  selector:
    matchLabels:
      app: {{ include "automat.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "automat.name" . }}
    spec:
      containers:
      - env:
        - name: WEB_HOST
          value: 0.0.0.0
        - name: WEB_PORT
          value: {{ .Values.app.port | quote}}
        - name: AUTOMAT_SERVER_URL
          value: {{ .Values.fullHostName }}
        - name: "MATURITY_VALUE"
          value: "{{ .Values.x_trapi.maturity.value }}"
        - name: "LOCATION_VALUE"
          value: "{{ .Values.x_trapi.location.value }}"

        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: Always
        name: {{ .Chart.Name }}-web-container
        ports:
        - containerPort: {{ .Values.app.port }}
          name: http
          protocol: TCP
        resources:
            {{- toYaml .Values.app.resources | nindent 12 }}
      restartPolicy: Always
      {{- with .Values.app.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.app.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.app.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
