# Default values for name-lookup.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.



webServer:
  replicaCount: 1
  service:
    port: 2433
    type: ClusterIP
  # container port
  port: 2433
  image:
    repository: renciorg/name_lookup
    tag: latest

dataUrl: "https://stars.renci.org/var/name_resolution_bkup/snapshot.backup.tar.gz"

solr:
  service:
    port: 8983
    type: ClusterIP
  # container port
  port: 8983
  heap_mem: "-Xms4000m -Xmx4000m"
  image:
    repository: solr
    tag: latest
  resources:
    requests:
      memory: "5Gi"
    limits:
      memory: "5Gi"

nameOverride: ""
fullnameOverride: ""

ingress:
  proxyConnectTimeout: "600"
  proxyReadTimeout: "600"
  host:
  class:

