# Default values for name-lookup.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.



webServer:
  replicaCount: 1
  service:
    port: 2433
    type: ClusterIP
  # container port
  port: 2433
  image:
    repository: ghcr.io/translatorsri/nameresolution
    tag: v1.2.0

dataUrl: "https://stars.renci.org/var/babel_outputs/2023apr24/solr/snapshot.backup.tar.gz"
forceRun: false

busybox:
  image:
    repository: busybox
    tag: "1.35"

# busybox:
#   image:
#     repository: busybox
#     tag: latest

solr:
  service:
    port: 8983
    type: ClusterIP
  # container port
  port: 8983
  heap_mem: "-Xms58G -Xmx58G"
  image:
    repository: solr
    tag: 9.1
  resources:
    requests:
      memory: "64Gi"
    limits:
      memory: "64Gi"
  # As of Babel 2023jul13, we need 130G to store the
  # uncompressed backup + 131G Solr database
  # So 300Gi should be enough for the time being.
  storage: 300Gi

  # As far as I know, initresources are only used by the download
  # pod that downloads the Solr backup, which is network-bound,
  # not CPU or memory bound. This used to be 32Gi, but I'm going
  # to reduce it to 1-5Gi. Please increase this if it looks like
  # it'll be helpful.
  initresources:
    requests:
      memory: 1Gi
      cpu: 250m
    limits:
      memory: 5Gi
      cpu: 1000m

nameOverride: ""
fullnameOverride: ""

ingress:
  annotations:
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
  pathType: "ImplementationSpecific"
  host:
  class:

blocklist:
  # The URL from where to download the blocklist. This should be a simple text file, where each line contains a CURIE.
  # (If this field is blank, all blocklist functionality will be turned off.)
  url:
  # If a GitHub Personal Access Token is necessary to download the above file, it should be set
  # in `blocklist.secrets.github_personal_access_token` in an encrypted file. You can also
  # set this on Kubernetes by running:
  #   kubectl -n $NAMESPACE create secret generic {{name-lookup.fullname}}-secrets --from-literal=github_personal_access_token=github_pat_...
  # The storage necessary to store the blocklist file. This is currently an ephemeral volume, so make sure it fits in the
  # ephemeral storage limit!
  storage: 100Mi

x_trapi:
  maturity:
    value: "maturity"
  location:
    value: "location"
