apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ include "strider.fullname" . }}-ingress-trapi
  annotations:
    kubernetes.io/ingress.class: "{{ .Values.ingress.class }}"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: "250m"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "{{ .Values.ingress.timeout }}"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "{{ .Values.ingress.timeout }}"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "{{ .Values.ingress.timeout }}"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      keepalive_timeout {{ .Values.ingress.timeout }};
    nginx.ingress.kubernetes.io/connection-proxy-header: keep-alive
    nginx.ingress.kubernetes.io/send-timeout: "{{ .Values.ingress.timeout }}"
    nginx.ingress.kubernetes.io/service-upstream: 'true'
    nginx.ingress.kubernetes.io/upstream-keepalive-timeout: "{{ .Values.ingress.timeout }}"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
  - host: {{ .Values.ingress.strider.host }}
    http:
      paths:
        - path: "/1.1(/|$)(.*)"
          backend:
            serviceName:  {{ include "strider.fullname" . }}-strider-service
            servicePort: {{ .Values.strider.service.port }}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ include "strider.fullname" . }}-ingress-kp
  annotations:
    kubernetes.io/ingress.class: "{{ .Values.ingress.class }}"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: "250m"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "{{ .Values.ingress.timeout }}"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "{{ .Values.ingress.timeout }}"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "{{ .Values.ingress.timeout }}"
spec:
  rules:
  - host: {{ .Values.ingress.kpRegistry.host }}
    http:
      paths:
      - backend:
          serviceName:  {{ include "strider.fullname" . }}-kp-service
          servicePort: {{ .Values.kpRegistry.service.port }}