apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "strider.fullname" . }}
  labels:
    {{- include "strider.labels" . | nindent 4 }}
    service-type: webserver
spec:
  replicas: {{ .Values.strider.replicaCount }}
  {{ if .Values.strider.strategy }}
  strategy:
    type: {{ .Values.strider.strategy }}
  {{ end }}
  selector:
    matchLabels:
      {{- include "strider.selectorLabels" . | nindent 6 }}
      service-type: webserver
  template:
    metadata:
      labels:
        {{- include "strider.selectorLabels" . | nindent 8 }}
        service-type: webserver
    spec:
      {{- with .Values.strider.securityContext }}
      securityContext:
        {{ . | toYaml | nindent 8 }}
      {{- end }}
      containers:

        - name: {{ .Chart.Name }}-webserver
          image: "{{ .Values.strider.image.repository }}:{{ .Values.strider.image.tag }}"
          imagePullPolicy: "{{ .Values.strider.image.imagePullPolicy }}"
          envFrom:
            - configMapRef:
                name: {{ include "strider.fullname" . }}-configmap
          command:
            - 'gunicorn'
          args:
            - "-b"
            - "0.0.0.0:{{ .Values.strider.container.port }}"
            - "-k"
            - "uvicorn_custom.SubPathWorker"
            - "-w"
            - "{{ .Values.strider.uvicornWorkerCount }}"
            - "--timeout"
            - "{{ .Values.strider.workerTimeout }}"
            - "strider.server:APP"
          ports:
            - name: http
              containerPort: {{ .Values.strider.container.port }}
              protocol: TCP
          {{ if .Values.probes.strider.enabled }}
          livenessProbe:
            exec:
              command:
              - /strider_health.sh
              - "{{ .Values.probes.strider.timeoutSeconds }}"
            failureThreshold: {{ .Values.probes.strider.failureThreshold }}
            periodSeconds: {{ .Values.probes.strider.period }}
            successThreshold: {{ .Values.probes.strider.successThreshold }}
            timeoutSeconds: {{ .Values.probes.strider.timeoutSeconds }}
          {{ end }}
          {{ if .Values.strider.resources }}
          resources: {{ toYaml .Values.strider.resources | nindent 12 }}
          {{ end }}
          volumeMounts:
          - name: {{ include "strider.fullname" . }}-health-scripts
            mountPath: /strider_health.sh
            subPath: strider_health.sh
          - name: {{ include "strider.fullname" . }}-logs-pvc
            mountPath: /app/logs/
          - name: {{ include "strider.fullname" . }}-gunicorn-conf
            mountPath: /app/uvicorn_custom.py
            subPath: uvicorn_custom.py
      volumes:
      - name: {{ include "strider.fullname" . }}-health-scripts
        configMap:
          name: {{ include "strider.fullname" . }}-heath-configmap
          defaultMode: 0777
      - name: {{ include "strider.fullname" . }}-logs-pvc
        persistentVolumeClaim:
          claimName: {{ include "strider.fullname" . }}-logs-pvc
      - name: {{ include "strider.fullname" . }}-gunicorn-conf
        configMap:
          name: {{ include "strider.fullname" . }}-gunicorn-conf
          defaultMode: 0777
      {{- with .Values.app.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.app.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.app.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

