# Default values for node-normalization-loader.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: "renciorg/r3_nodenorm"
  tag: "latest"
  pullPolicy: Always
fullnameOverride: ""

data:
  compendia:
    storageSize: 10G
    sourceBaseUrl: "https://stars.renci.org/var/babel_outputs/2022oct13/compendia/"
    files:
    - AnatomicalEntity.txt
    - BiologicalProcess.txt
    - Cell.txt
    - CellularComponent.txt
    - ChemicalEntity.txt
    - ChemicalMixture.txt
    - ComplexMolecularMixture.txt
    - Disease.txt
    - GeneFamily.txt
    - Gene.txt.00
    - Gene.txt.01
    - Gene.txt.02
    - Gene.txt.03
    - Gene.txt.04
    - GrossAnatomicalStructure.txt
    - MolecularActivity.txt
    - MolecularMixture.txt
    - OrganismTaxon.txt
    - Pathway.txt
    - PhenotypicFeature.txt
    - Polypeptide.txt
    - Protein.txt.00
    - Protein.txt.01
    - Protein.txt.02
    - Protein.txt.03
    - Protein.txt.04
    - Protein.txt.05
    - Protein.txt.06
    - Protein.txt.07
    - Protein.txt.08
    - Protein.txt.09
    - Protein.txt.10
    - Protein.txt.11
    - Protein.txt.12
    - Protein.txt.13
    - Protein.txt.14
    - Protein.txt.15
    - Protein.txt.16
    - Protein.txt.17
    - Protein.txt.18
    - Protein.txt.19
    - Protein.txt.20
    - Protein.txt.21
    - Protein.txt.22
    - SmallMolecule.txt.00
    - SmallMolecule.txt.01
    - SmallMolecule.txt.02
    - SmallMolecule.txt.03
    - SmallMolecule.txt.04
    - SmallMolecule.txt.05
    - SmallMolecule.txt.06
    - SmallMolecule.txt.07
    - SmallMolecule.txt.08
    - SmallMolecule.txt.09
    - SmallMolecule.txt.10
    - umls.txt
  conflations:
    storageSize: 1G
    sourceBaseUrl: "https://stars.renci.org/var/babel_outputs/2022oct13/conflation/"
    configs:
      - file: "GeneProtein.txt"
        types:
          - biolink:Gene
          - biolink:Protein
        redis_db: "gene_protein_db"
codeDir: /code

redis_backend_config: {}

securityContext:
  runAsUser: 1000
  runAsGroup: 3000
  fsGroup: 2000
  fsGroupChangePolicy: "Always"

resources:
  limits:
    memory: 10Gi
  requests:
    memory: 10Gi
