# Default values for node-normalization-loader.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# There are two node-normalization-loader modes:
# 1. `load` (default): Use the loader to load a set of backend Redis servers with Babel compendium/conflation JSONL files.
# 2. `restore`: Use the loader-pipe-job to load the database backups into the backend Redis databases.
mode: restore

image:
  repository: "ghcr.io/translatorsri/nodenormalization"
  tag: "v2.3.8"
  pullPolicy: Always
fullnameOverride: ""

# Settings to use for a restore job.
restore:
  repository: "ghcr.io/translatorsri/nodenormalization-data-loading"
  tag: "v2.3.8"
  pullPolicy: Always
  dataDir: "/data"
  dataSize: 50G
  ephemeralStorage: 1G

# node affinity and tolerations settings.
app:
  affinity: {}
  tolerations: {}

data:
  compendia:
    storageSize: 10G
    sourceBaseUrl: "https://stars.renci.org/var/babel_outputs/2024mar24/compendia/"
    files:
    - AnatomicalEntity.txt
    - BiologicalProcess.txt
    - Cell.txt
    - CellularComponent.txt
    - ChemicalEntity.txt
    - ChemicalMixture.txt
    - ComplexMolecularMixture.txt
    - Disease.txt
    - Drug.txt
    - GeneFamily.txt
    - Gene.txt.00
    - Gene.txt.01
    - Gene.txt.02
    - Gene.txt.03
    - Gene.txt.04
    - Gene.txt.05
    - GrossAnatomicalStructure.txt
    - MacromolecularComplex.txt
    - MolecularActivity.txt
    - MolecularMixture.txt
    - OrganismTaxon.txt
    - Pathway.txt
    - PhenotypicFeature.txt
    - Polypeptide.txt
    - Protein.txt.00
    - Protein.txt.01
    - Protein.txt.02
    - Protein.txt.03
    - Protein.txt.04
    - Protein.txt.05
    - Protein.txt.06
    - Protein.txt.07
    - Protein.txt.08
    - Protein.txt.09
    - Protein.txt.10
    - Protein.txt.11
    - Protein.txt.12
    - Protein.txt.13
    - Protein.txt.14
    - Protein.txt.15
    - Protein.txt.16
    - Protein.txt.17
    - Protein.txt.18
    - Protein.txt.19
    - Protein.txt.20
    - Protein.txt.21
    - Protein.txt.22
    - Protein.txt.23
    - Protein.txt.24
    - Protein.txt.25
    - Publication.txt.00
    - Publication.txt.01
    - Publication.txt.02
    - Publication.txt.03
    - SmallMolecule.txt.00
    - SmallMolecule.txt.01
    - SmallMolecule.txt.02
    - SmallMolecule.txt.03
    - SmallMolecule.txt.04
    - SmallMolecule.txt.05
    - SmallMolecule.txt.06
    - SmallMolecule.txt.07
    - SmallMolecule.txt.08
    - SmallMolecule.txt.09
    - SmallMolecule.txt.10
    - umls.txt
  conflations:
    storageSize: 1G
    sourceBaseUrl: "https://stars.renci.org/var/babel_outputs/2024mar24/conflation/"
    configs:
      - file: "GeneProtein.txt"
        types:
          - biolink:Gene
          - biolink:Protein
        redis_db: "gene_protein_db"
      - file: "DrugChemical.txt"
        types:
          - biolink:ChemicalEntity
          - biolink:Drug
        redis_db: "chemical_drug_db"
codeDir: /code

redis_backend_config: {}

securityContext:
  runAsUser: 1000
  runAsGroup: 3000
  fsGroup: 2000
  fsGroupChangePolicy: "Always"

resources:
  limits:
    memory: 10Gi
    ephemeral-storage: 2Gi
  requests:
    memory: 10Gi
    ephemeral-storage: 2Gi
