apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "aragorn.fullname" . }}-configmap
data:
  QUEUE_HOST: "{{ include "aragorn.fullname" . }}-rbtmq-server-service"
  QUEUE_MONITOR_PORT: "{{ .Values.rbtmq.secrets.webPort }}"
  QUEUE_PORT: "{{ .Values.rbtmq.secrets.amqpPort }}"
  QUEUE_USER: "{{ .Values.rbtmq.secrets.queueUser }}"
  QUEUE_PW: "{{ .Values.rbtmq.secrets.queuePassword }}"
  QUEUE_ADMIN_PW: "{{ .Values.rbtmq.secrets.queueAdminPassword }}"
  WEB_HOST: 0.0.0.0
  WEB_PORT: {{ .Values.app.port | quote}}
  SERVER_ROOT: "{{ .Values.web.serverHostName }}"
  CALLBACK_HOST: "{{ .Values.web.callbackHostName }}"
  DEBUG_TIMING: "{{ .Values.app.debugTiming }}"
  MULTISTRIDER_BATCH_SIZE: "{{ .Values.app.multistrider_batch_size }}"
  MAXIMUM_MULTISTRIDER_RULES: "{{ .Values.app.maximum_multistrider_rules }}"
  MATURITY_VALUE: "{{ .Values.x_trapi.maturity.value }}"
  LOCATION_VALUE: "{{ .Values.x_trapi.location.value }}"
  STRIDER_URL: "{{ .Values.sub_processes.strider_url }}"
  ANSWER_COALESCE_URL: "{{ .Values.sub_processes.answer_coalesce_url }}"
  RANKER_URL: "{{ .Values.sub_processes.ranker_url }}"
  NODENORM_URL: "{{ .Values.sub_processes.node_norm_url }}"
  ROBOKOPKG_URL: "{{ .Values.sub_processes.robokop_kg_url }}"
  ROBOKOP_CYPHER_ENDPOINT: "{{ .Values.sub_processes.robokop_cypher_url }}"
