apiVersion: v1
kind: Service
metadata:
  name: {{ include "aragorn.fullname" . }}-web-service-trapi-1-1
  labels:
    {{- include "aragorn.labels" . | nindent 4 }}
spec:
  {{- include "aragorn.serviceDefinition" . | nindent 2}}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.app.port}}
      protocol: TCP
      name: http
  selector:
    app: {{ include "aragorn.name" . }}
    trapi: "1.1"
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "aragorn.fullname" . }}-web-service-trapi-1-2
  labels:
    {{- include "aragorn.labels" . | nindent 4 }}
spec:
  {{- include "aragorn.serviceDefinition" . | nindent 2}}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.app.port}}
      protocol: TCP
      name: http
  selector:
    app: {{ include "aragorn.name" . }}
    trapi: "1.2"
