# Default values for strider.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

strider:
  strategy: Recreate
  replicaCount: 1
  logsPVCSize: 3Gi
  securityContext:
    runAsUser: 1000
    runAsGroup: 3000
    fsGroup: 2000
  image:
    tag: latest
    repository: ghcr.io/ranking-agent/strider
    imagePullPolicy: Always
  service:
    type: ClusterIP
    port: 5781
  container:
    port: 5781
  uvicornWorkerCount: 6
  updateCronInterval: "0 */6 * * *"

  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    targetCPU: 40

  resources:
    requests:
      memory: 16Gi
      cpu: 1000m
    limits:
      memory: 20Gi
      cpu: 3000m

# liveliness prob values
probes:
  strider:
    enabled: false
    failureThreshold: 5
    successThreshold: 1
    period: 120
    timeoutSeconds: 10

redis:
  image:
    tag: latest
    repository: redis
  dbPath: /data
  service:
    port: 6379
    type: ClusterIP
  resources:
    limits:
      memory: 10Gi
    requests:
      memory: 10Gi
  args:
    - --save
    - ''
    - --stop-writes-on-bgsave-error
    - 'no'

redisInsights:
  image:
    tag: latest
    repository: redislabs/redisinsight
  service:
    port: 8001
    type: ClusterIP
  dbPath: /data

ingress:
  enabled: false
  class: ""
  pathType: "ImplementationSpecific"
  path: "/1.3"
  strider:
    host: "the strider host name"
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "250m"
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "86400"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "86400"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "86400"
      nginx.ingress.kubernetes.io/configuration-snippet: |
        keepalive_timeout 86400;
      nginx.ingress.kubernetes.io/connection-proxy-header: keep-alive
      nginx.ingress.kubernetes.io/send-timeout: "86400"
      nginx.ingress.kubernetes.io/service-upstream: "true"
      nginx.ingress.kubernetes.io/upstream-keepalive-timeout: "86400"
      nginx.ingress.kubernetes.io/rewrite-target: /$2
  redisInsights:
    host: "the redis insights name"
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "250m"
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "86400"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "86400"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "86400"

env:
  max_process_time: 3400
  redis_expiration: 604800

x_trapi:
  maturity:
    value: "maturity"
  location:
    value: "location"