# Default values for strider.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.



nameOverride: ""
fullnameOverride: ""

kpRegistry:
  image:
    tag: v2.0.0
    repository: ghcr.io/ranking-agent/kp_registry
  service:
    type: ClusterIP
    port: 80
  containerPort: 4983
  # every five minute
  updateCronInterval: "*/1 * * * *"

strider:
  replicaCount: 1
  image:
    tag: v2.0.0
    repository: ghcr.io/ranking-agent/strider
    imagePullPolicy: Always
  env:
    OMNICORP_URL: http://robokop.renci.org:3210
  service:
    type: ClusterIP
    port: 5781
  container:
    port: 5781
  uvicornWorkerCount: 6

  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    targetCPU: 40

  resources:
    requests:
      memory: 2Gi
      cpu: 500m
    limits:
      memory: 3.5Gi
      cpu: 1000m



# liveliness prob values
probes:
  strider:
    failureThreshold: 5
    successThreshold: 1
    periodSeconds: 5
    timeoutSeconds: 10

  kpRegistry:
    path: "/kps"
    failureThreshold: 5
    successThreshold: 1
    periodSeconds: 5
    timeoutSeconds: 3


redis:
  image:
    tag: latest
    repository: redis
  service:
    port: 6379
    type: ClusterIP
  resources:
    limits:
      memory: 10Gi
    requests:
      memory: 10Gi
  args:
    - --save
    - ''
    - --stop-writes-on-bgsave-error
    - 'no'

ingress:
  class: ""
  strider:
    host: "the strider host name"
  kpRegistry:
    host: "the kp host name"
  timeout: 7200 # 1hr
